body{
	background-color: white;
}
#navbar{
	background-color: white;
	border: 0px;
}

#welcome{
	background-color: white;
	opacity: 0.75;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 50px;
	min-height: 300px;
	border-radius: 5px;
}

#myGrub {
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/ScreenShot12.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
}

#myGrub img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #myGrub:hover img,
.cs-style-3 #myGrub.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 .app-info {
	height: 200px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.app-info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #c4c4c4;
	color: black;
}

.cs-style-3 #myGrub:hover .app-info,
.cs-style-3 #myGrub.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.app-info h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

#interactive-map{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/interactive-map.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
}

#interactive-map img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #interactive-map:hover img,
.cs-style-3 #interactive-map.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 #interactive-map:hover .app-info,
.cs-style-3 #interactive-map.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#memory-game{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/memory-game.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
}

#memory-game img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #memory-game:hover img,
.cs-style-3 #memory-game.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 #memory-game:hover .app-info,
.cs-style-3 #memory-game.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#google-maps{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/google-maps.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
}

#google-maps img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #google-maps:hover img,
.cs-style-3 #google-maps.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 #google-maps:hover .app-info,
.cs-style-3 #google-maps.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#countdown{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/countdown.png');
	background-size: 100% 100%;
	color: white;
	margin-bottom: 15px;
}

#countdown img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #countdown:hover img,
.cs-style-3 #countdown.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 #countdown:hover .app-info,
.cs-style-3 #countdown.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#coffee{
	margin: 0;
	position: relative;
	overflow: hidden;
	background-image: url('photos/coffee.png');
	background-size: 100% 100%;
	margin-bottom: 15px;
}

#coffee img {
	max-width: 100%;
	display: block;
	position: relative;
	transition: transform 0.4s;
}

.cs-style-3 #coffee:hover img,
.cs-style-3 #coffee.cs-hover img {
	transform: translateY(-40px);
}

.cs-style-3 #coffee:hover .app-info,
.cs-style-3 #coffee.cs-hover .app-info {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

#html5, #css3, #bootstrap, #jquery, #angular, #js, #node, #express, #mongo, #github, #sass, #lss{
	position: relative;
	max-height: 200px;
	max-width: 90%;
}

.logos .img-responsive{
	margin: 0 auto;
}

#css3{
	margin-left: 95px;
}

#bootstrap{
	max-height: 150px;
	margin-top: 25px;
}

#express, #mongo{
	margin-top: 30px;
}

#carousel-title{
	font-size: 40px;
	font-weight: bold;
}

#project-container{
	margin-top: 100px;

}

.projects{
	
	height: 300px;
}

#jgh img{
	border-radius: 10px;
}

#comment-container{
	margin-top: 50px;
	margin-bottom: 100px;
}

#contact-form{
	background-color: white;
	opacity: 0.75;
	border-radius: 5px;
}

.form-group{
	margin-top: 25px;
}

#comments-area{
	margin-top: 25px;
}

#write-here{
	width: 100%;
}

#footer{
	background-color: white;
	opacity: 0.75;
	margin-top: 25px;
	height: 50px;
}

#left p, #center p{
	margin-top: 10px;
}

#skills-container{
	margin-top: 150px;
	margin-bottom: 150px;
}

#skills-container img{
	max-height: 500px;
	/*width: 100%;*/
}

#skills-preview img{
	max-width: 100%;
	height: 300px;
}

#portfolio-container{
	margin-top: 250px;
	margin-bottom: 300px;
}

#portfolio-container a{
	color: black;
}

#myCarousel{
	max-height: 500px;
	width: 100%;
}

#myCarousel img{
	max-height: 500px;
	width: 100%;
}

#skills{
	background-color: #c4c4c4;
	opacity: .9;
	color: black;
	margin-top: 150px;
}

#skills img{
	height: 50px;
	max-width: 50%;
}

#skills1 {
	margin-bottom: 25px;
}

#intro {
	margin-top: 175px;
}

#pic img{
	max-width: 100%;
	max-height: 400px;
	border: 2px solid black;
}

#intro-wrapper{
	min-height: 500px;
	/*background-image: url('photos/jgh-banff.jpg');*/
	background-size: 100% 100%; 
	color: black;
	font-size: 35px;
	font-weight: 10px;
	margin-bottom: 50px;
}

/*navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #c4c4c4;
    color: black;
}*/

#submit{
	margin-top: 15px;
}

#jgh:hover, #me:hover, #tech:hover, #work:hover, #connect:hover{
	background-color: #c4c4c4;
    color: black;
}

#me:visited{
	background-color: #c4c4c4;
    color: black;
}

#counter{
	margin-top: 150px;
}

#summary{
	background-color: white;
	/* border-radius: 5px; */
	opacity: .9;
	font-weight: 50;
	/* height: 400px; */
	/* margin-top: 50px; */
	margin-bottom: 100px;
}
#summary img{
	margin-top: 25px;
	width: 50%;
	max-height: 250px;
	border: 5px solid black;
	margin-left: 25%;
}
#summary h2{
	margin-top: 100px;
}

#other-contact img{
	height: 45px;
	margin-bottom: 25px;
}

#myGrub2 img, #memoryGame2 img, #googleMaps2 img, #interactiveMap2 img, #countdown2 img, #coffee2 img{
	max-width: 100%;
	height: 300px;
}

#coffee2{
	margin-top: -20px;
}

#commits, #something, #numProjects{
	margin-bottom: 75px;
}