.thumbnails{
	margin: 10px;
}

#myGrub{
	background-image: url('photos/screenShot12.png');
	background-image: cover;
	color: white;
}

/*#html5, #css3, #bootstrap{
	position: relative;
	float: left;
	max-height: 200px;
	max-width: 95%;
	margin-right: 50px;
}
#html5 img, #css3 img, #bootstrap img{
	margin: 0 auto;
}

.caption{
	clear: both;
}*/